.posts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 1rem;
}

.post_count{
    border-top:2px solid grey;
    border-right:2px solid grey;
    padding: .5rem;
    border-radius: .2rem;
    flex: 1;
    text-align: center;
    font-weight: 700;
    color: #4492cd;
}

.border{
    border-bottom: 2px solid gray ;
    width: 100%;
    flex: 9;
}

.posts_start{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.like{
    border-radius: 50%;
    height: 15px;
    padding: 2px;
}
.title_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.post{
    border-bottom: 2px solid rgb(170, 169, 169);
    padding-bottom: 1.5rem;
    width: 100%;
}
.post-details *{
    font-size: 10px;
}